@media only screen and (width <= 320px) {
  * {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
  }
  .optionHeader {
    position: relative;
    z-index: 10;
    top: 130px;
    width: 310px;
    height: 250px;
    right: 3px;
    border-radius: 20px 20px 0 0;
    background-color: white;
  }
  .optionHeader img {
    width: 100%;
    height: 50px;
    position: relative;
    top: 60px;
    z-index: 10;
  }
  .promos .promosIcon {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  .promos .promosIcon i {
    font-size: 20px;
    margin: 20px;
    position: relative;
    right: 50px;
    bottom: 25px;
  }
  .promos {
    border: solid 1px transparent;
    width: 295px;
    height: 50px;
    position: relative;
    z-index: 10;
    left: 7px;
    border-radius: 15px 15px 0 0;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: white;
  }
  .promosLabel {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    right: 50px;
    bottom: 80px;
  }
  .promosLabel .voucher {
    position: relative;
    right: 10px;
    margin: 20px 10px 20px 20px;
  }
  .promosLabel .shirt {
    position: relative;
    right: 3px;
  }
  .promosLabel .cart {
    position: relative;
    left: 6px;
    margin: 20px 23px 20px 20px;
  }
  .promosLabel .promosProfile {
    position: relative;
    right: 12px;
  }
  .promosLabel li {
    margin: 20px;
    font-size: 10px;
  }
  .summerSale {
    border: solid 1px #15f5ba;
    background-color: #15f5ba;
    width: 100%;
    height: 190px;
    position: relative;
    z-index: 15;
    top: 60px;
    display: grid;
    grid-template-columns: 90px 90px 90px 90px 90px 90px 90px 90px 90px 90px;
    grid-template-rows: 140px;
    gap: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 5px;
  }
  .summerSale .summerShop {
    border: solid 1px transparent;
    position: relative;
    top: 30px;
    left: 5px;
  }
  .summerSale .summerShop img {
    background-color: white;
    width: 100%;
    height: 110px;
    position: absolute;
    top: 0;
  }
  .summerSale .summerShop p {
    font-size: 13px;
    color: orangered;
    position: relative;
    top: 100px;
    left: 5px;
    font-weight: bold;
    z-index: 10;

  }
  .summerSale h5 {
    position: absolute;
    left: 5px;
    top: -15px;
  }
  nav {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: white;
  width: 100%;
  border: solid 1px gainsboro;
  height: 55px;
  box-shadow: 10px 0px 20px gainsboro;
  z-index: 1000;
  }
  nav p {
    font-weight: bolder;
  }
  .fa-list {
    position: absolute;
    z-index: 5;
    top: 18px;
    left: 15px;
    color: white;
  }
  .fa-house, .navCart, .fa-envelope, .navUser {
    color: black;
    margin: 25px;
    position: relative;
    bottom: 0px;
    left: 5px;
  }
  .profile {
    position: relative;
    z-index: 5;
    display: inline;
    bottom: 37px;
    margin: 24px;
    font-size: 10px;
    left: 220px;
    color: black;
  }
  .homeFooter {
    position: relative;
    z-index: 5;
    display: inline;
    bottom: 20px;
    margin: 24px;
    font-size: 10px;
    left: 3px;
    color: #15f5ba;
  }
  .cartFooter {
    position: relative;
    z-index: 5;
    display: inline;
    bottom: 19px;
    margin: 24px;
    font-size: 10px;
    left: 0px;
    color: black;
  }
  .mailFooter {
    position: relative;
    z-index: 5;
    display: inline;
    bottom: 19px;
    margin: 24px;
    font-size: 10px;
    right: 3px;
    color: black;
  }
  .fa-house {
   color: #15f5ba;
  }
  #searchBtn {
    display: inline;
    border: solid 1px #15f5ba;
    background-color: #15f5ba;
    border-radius: 0 20px 20px 0;
    color: white;
    position: absolute;
    right: 78.5px;
    z-index: 5;
    height: 21px;
    
  }
  #searchInput {
    outline: none;
    border: solid 1px #15f5ba;
    position: absolute;
    border-radius: 20px 0 0 20px;
    left: 50px;
    z-index: 5;
    height: 17px;
    width: 130px;
  }
  #slideImg {
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  #slideImg img{
    width: 100%;
    height: 170px;
  }
  .recommendedProducts {
    position: relative;
    top: 240px;
    z-index: 15;
    font-size: 15px;
    color: orangered;
  }
  .products {
    display: grid;
    grid-template-columns: 145px 145px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px;
    gap: 10px;
    position: relative;
    left: 3px;
    top: 240px;
    margin: 0px 0px 320px 0px;
  }
  .product {
    border: solid 1px gainsboro;
    overflow: hidden;
  }
  .product img{
    background-color: gainsboro;
    width: 100%;
    height: 150px;
  }
  .product p {
    font-size: 13px;
    position: relative;
    top: 10px;
    bottom: 0px;
    margin: 0;
    padding: 0;
    left: 5px;
  }
  .price {
    color: orangered;
    font-weight: bold;
  }
}
@media only screen and (width > 320px) and (width <= 376px ) {
  * {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
  }
  .optionHeader {
    position: relative;
    z-index: 10;
    top: 130px;
    width: 370px;
    height: 250px;
    right: 5px;
    border-radius: 20px 20px 0 0;
    background-color: white;
  }
  .optionHeader img {
    width: 100%;
    height: 60px;
    position: relative;
    top: 50px;
    z-index: 10;
  }
  .promos .promosIcon {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  .promos .promosIcon i {
    font-size: 20px;
    margin: 20px;
    position: relative;
    right: 50px;
    bottom: 25px;
  }
  .promos {
    border: solid 1px transparent;
    width: 350px;
    height: 50px;
    position: relative;
    z-index: 10;
    left: 7px;
    border-radius: 15px 15px 0 0;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: white;
  }
  .promosLabel {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    right: 50px;
    bottom: 80px;
  }
  .promosLabel .voucher {
    position: relative;
    right: 10px;
    margin: 20px 10px 20px 20px;
  }
  .promosLabel .shirt {
    position: relative;
    right: 3px;
  }
  .promosLabel .cart {
    position: relative;
    left: 6px;
    margin: 20px 23px 20px 20px;
  }
  .promosLabel .promosProfile {
    position: relative;
    right: 12px;
  }
  .promosLabel li {
    margin: 20px;
    font-size: 10px;
  }
  .summerSale {
    border: solid 1px #15f5ba;
    background-color: #15f5ba;
    width: 100%;
    height: 220px;
    position: relative;
    z-index: 15;
    top: 50px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 160px;
    gap: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 5px;
  }
  .summerSale .summerShop {
    border: solid 1px transparent;
    position: relative;
    top: 40px;
    left: 5px;
  }
  .summerSale .summerShop img {
    background-color: white;
    width: 100%;
    height: 130px;
    position: absolute;
    top: 0;
  }
  .summerSale .summerShop p {
    font-size: 13px;
    color: orangered;
    position: relative;
    top: 120px;
    left: 5px;
    font-weight: bold;

  }
  .summerSale h5 {
    position: absolute;
    left: 5px;
    top: -15px;

  }
  nav {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: white;
  width: 100%;
  border: solid 1px gainsboro;
  height: 60px;
  width: 100%;
  box-shadow: 10px 0px 20px gainsboro;
  z-index: 15;
  }
  .fa-list {
    position: absolute;
    z-index: 5;
    top: 18px;
    left: 15px;
    color: white;
  }
  .fa-house, .navCart, .fa-envelope, .navUser {
    color: black;
    margin: 30px;
    position: relative;
    bottom: 0px;
    left: 0px;
    font-size: 25px;
  }
  .profile {
    position: relative;
    z-index: 5;
    display: inline;
    bottom: 18px;
    margin: 24px;
    font-size: 10px;
    left: 33px;
    color: black;
  }
  .homeFooter {
    position: relative;
    z-index: 5;
    display: inline;
    bottom: 20px;
    margin: 24px;
    font-size: 10px;
    left: 5px;
    color: #15f5ba;
  }
  .cartFooter {
    position: relative;
    z-index: 5;
    display: inline;
    bottom: 19px;
    margin: 24px;
    font-size: 10px;
    left: 20px;
    color: black;
  }
  .mailFooter {
    position: relative;
    z-index: 5;
    display: inline;
    bottom: 19px;
    margin: 24px;
    font-size: 10px;
    left: 30px;
    color: black;
  }
  .fa-house {
   color: #15f5ba;
  }
  #searchBtn {
    display: inline;
    border: solid 1px #15f5ba;
    background-color: #15f5ba;
    border-radius: 0 20px 20px 0;
    color: white;
    position: absolute;
    right: 100px;
    z-index: 5;
    height: 21px;
    
  }
  #searchInput {
    outline: none;
    border: solid 1px #15f5ba;
    border-radius: 20px 0 0 20px;
    position: absolute;
    left: 50px;
    z-index: 5;
    height: 17px;
    width: 164px;
  }
  #slideImg {
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    
  }
  #slideImg img{
    width: 100%;
    height: 200px;
  }
  .recommendedProducts {
    position: relative;
    top: 260px;
    z-index: 15;
    font-size: 15px;
    color: orangered;
  }
  .products {
    display: grid;
    grid-template-columns: 170px 170px;
    grid-template-rows: 220px 220px 220px 220px 220px 220px 220px 220px 220px 220px;
    gap: 10px;
    position: relative;
    left: 3px;
    top: 260px;
    margin: 0px 0px 320px 0px;
  }
  .product {
    border: solid 1px gainsboro;
    overflow: hidden;
  }
  .product img{
    background-color: gainsboro;
    width: 100%;
    height: 170px;
  }
  .product p {
    font-size: 13px;
    position: relative;
    top: 10px;
    bottom: 0px;
    margin: 0;
    padding: 0;
    left: 5px;
  }
  .price {
    color: orangered;
    font-weight: bold;
  }
  
}
@media only screen and (width > 377px) and (width >= 400px ) {
  * {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
  }
  html,body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
  }
  a {
    text-decoration: none;
    color: black;
  }
  body {
    width: 100%;
  }
  header  {
    position: relative;
    z-index: 50;
  }
  header i{
    color: white;
    font-size: 23px;
    position: relative;
    left: 10px;
    margin: 8px 0 0 10px;
  }
  header .userProfile {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 37px;
    height: 37px;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  header .settingsHome {
    position: absolute;
    right: 50px;
    top: 5px;
    width: 37px;
    height: 37px;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  #searchInput {
    outline: none;
    border: solid 1px #15f5ba;
    position: absolute;
    left: 50px;
    z-index: 5;
    height: 20px;
    width: 170px;
    margin: 10px 0 10px 10px;
    padding: 0 10px 0 10px;
    border-radius: 2px 0px 0px 2px;
  }
  #searchBtn {
    display: inline;
    border: solid 1px #15f5ba;
    background-color: #15f5ba;
    color: white;
    position: absolute;
    right: 101px;
    width: 50px;
    z-index: 5;
    height: 21.5px;
    margin: 10px 10px 10px 0px;
    border-radius: 0px 2px 2px 0px;
    
  }
  .optionHeader {
    position: relative;
    z-index: 10;
    top: 130px;
    width: 420px;
    height: 250px;
    border-radius: 20px 20px 0 0;
    background-color: white;
  }
  .optionHeader img {
    width: 100%;
    height: 60px;
    position: relative;
    top: 10px;
    z-index: 10;
  }
  .promos .promosIcon {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  .promos .promosIcon i {
    font-size: 20px;
    margin: 20px;
    position: relative;
    bottom: 10px;
  }
  .promos {
    border: solid 1px transparent;
    width: 405px;
    height: 50px;
    position: relative;
    z-index: 10;
    left: 7px;
    border-radius: 15px 15px 0 0;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: white;
  }
  .promosLabel {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 50px;
  }
  .promosLabel .voucher {
    position: relative;
    right: 10px;
    margin: 20px 10px 20px 20px;
  }
  .promosLabel .shirt {
    position: relative;
    right: 3px;
  }
  .promosLabel .cart {
    position: relative;
    left: 6px;
    margin: 20px 23px 20px 20px;
  }
  .promosLabel .promosProfile {
    position: relative;
    right: 12px;
  }
  .promosLabel li {
    margin: 20px;
    font-size: 10px;
  }
  .summerSale {
    border: solid 1px #15f5ba;
    background-color: #15f5ba;
    width: 420px;
    height: 240px;
    position: relative;
    z-index: 15;
    top: 10px;
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px 120px 120px;
    grid-template-rows: 180px;
    gap: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 5px;
  }
  .summerSale .summerShop {
    border: solid 1px transparent;
    position: relative;
    top: 40px;
    left: 5px;
  }
  .summerSale .summerShop img {
    background-color: white;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
  }
  .summerSale .summerShop p {
    font-size: 15px;
    color: orangered;
    position: relative;
    top: 150px;
    font-weight: bold;
  }
  .summerSale h5 {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 15px;

  }
.slide {
  position: relative;
}
  #slideImg {
    display: flex;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  #slideImg .pic{
    width: 100%;
    height: 200px;
  }
  .recommendedProducts {
    position: relative;
    top: 250px;
    z-index: 15;
    font-size: 15px;
    margin: 10px 10px 10px 5px;
    color: orangered;
  }
  .products {
    display: grid;
    grid-template-columns: 205px 205px;
    grid-template-rows: 250px 250px 250px 250px 250px 250px;
    gap: 5px;
    position: relative;
    top: 250px;
    left: 2px;
    margin: 0px 0px 420px 0px;
  }
 .products a {
    text-decoration: none;
    color: black;
  }
  .product {
    border: solid 1px rgb(219, 217, 217);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .product img{
    background-color: gainsboro;
    width: 100%;
    height: 200px;
  }
  .product p {
    font-size: 14px;
    position: relative;
    bottom: 0px;
    left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .product .price {
    color: orangered;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    top: 5px;
  }
  #bottom-nav {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
    background-color: white;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 10px black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
  }
  #bottom-nav svg{
    color: black;
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 9999;
    
  }
}