*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  background-color: whitesmoke;
  
}
header {
  width: 100%;
  height: 50px;
  background-color: white;
  position: relative;
}
header p {
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 50px;
}
header button {
  width: 50px;
  height: 50px;
  margin: 0 5px 0 5px;
  background-color: white;
  border: none;
}
header button svg {
   width: 30px;
   height: 30px;
   color: orangered;
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px gainsboro;
  background-color: white;
}
.bottom-nav button {
  color: white;
  width: 120px;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  background-color: orangered;
  position: absolute;
  right: 0;
  border: solid 1px orangered;
}
.bottom-nav .totalPayment {
  position: absolute;
  left: 10px;
  font-size: 13px;
  display: inline;
}
.bottom-nav #totalPayment {
  color: orangered;
  font-weight: bold;
  font-size: 20px;
  display: inline;
  position: absolute;
  left: 110px;
}
.totalItems {
  width: 100%;
  background-color: white;
  height: 50px;
  margin: 5px 0 5px 0;
  position: relative;
}
.totalItems .totalText {
  font-size: 20px;
  position: relative;
  left: 10px;
  top: 13px;
  display: inline;
}
#displayTotal {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: orangered;
  font-weight: bold;
  top: 15px;
}
.shopVoucher {
  width: 100%;
  background-color: white;
  height: 40px;
  margin: 5px 0 0 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
}
.shopVoucher p {
  display: inline;
  padding: 0 0 0 5px;
  font-size: 14px;
}
.shopVoucher .selectVoucher {
  position: absolute;
  right: 5px;
  color: darkgray;
}
.shippingOption {
  border-top: solid 2px #15f5ba;
  border-bottom: solid 2px #15f5ba;
  width: 100%;
  height: 80px;
  background-color: lightcyan;
  position: relative;
}
.shippingOption p {
  margin: 10px 0 10px 10px;
}
.shippingOption .shippingPrice {
  position: absolute;
  right: 15px;
  top: 20px;
  font-weight: bold;
  color: orangered;
}
.totalProducts {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: white;
}
.totalProducts p {
  padding: 0 0 0 5px;
  font-size: 14px;
}
.totalProducts .priceProducts {
  position: absolute;
  right: 10px;
  font-weight: bold;
  color: orangered;
}
.platformVoucher {
  width: 100%;
  background-color: white;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  border-top: solid 1px gainsboro;
}
.platformVoucher p {
  display: inline;
  padding: 0 0 0 5px;
  font-size: 14px;
}
.platformVoucher .platformSelect {
  position: absolute;
  right: 5px;
  color: darkgray;
}
.paymentOption {
  width: 100%;
  background-color: white;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  border-top: solid 1px gainsboro;
}
.paymentOption p {
  display: inline;
  padding: 0 0 0 5px;
  font-size: 14px;
}
.paymentOption .selectOption {
  position: absolute;
  right: 5px;
  color: darkgray;
}
.paymentDetails {
  width: 100%;
  height: 170px;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 100px;
  position: relative;
}
.paymentDetails h4 {
  padding: 5px;
}
.paymentDetails p {
  font-size: 14px;
  padding: 5px 0 5px 10px;
  color: dimgray;
  display: inline-block;
}
.productTotal, .shippingTotal, .voucher {
  position: absolute;
  right: 10px;
}
.paymentDetails .totalPrice {
  font-size: 17px;
  color: black;
  padding: 10px 0 0 10px ;
  position: relative;
  right: 5px;
}
.paymentDetails .total {
  font-size: 17px;
  color: orangered;
  font-weight: bold;
  position: absolute;
  right: 10px;
  padding: 10px 0 0 10px ;
  
}
#displayItems {
  width: 100%;
  height: 130px;
  background-color: white;
  margin-top: 5px;
  position: relative;
}
#displayItems img {
  width: 120px;
  height: 120px;
  background-color: darkgray;
  margin: 5px;
}

#displayItems .product_name {
  position: absolute;
  top: 15px;
  left: 140px;
  color: black;
  font-size: 17px;
}
#displayItems .product_chosen_variant {
  position: absolute;
  top: 40px;
  left: 140px;
  color: black;
  font-size: 13px;
  border: solid 1px ghostwhite;
  background-color: ghostwhite;
  border-radius: 10px;
  padding: 2px 10px 2px 10px;
  color: gray;
}
#displayItems .product_quantity {
  position: absolute;
  top: 65px;
  left: 140px;
  color: black;
  font-size: 13px;
  border: solid 1px ghostwhite;
  background-color: ghostwhite;
  border-radius: 10px;
  padding: 2px 10px 2px 10px;
  color: gray;
}
#displayItems .product_price {
  position: absolute;
  top: 100px;
  right: 10px;
  color: black;
  font-size: 20px;
  color: orangered;
  font-weight: bold;
}
#displayItems .product-size {
  position: absolute;
  top: 90px;
  left: 140px;
  color: black;
  font-size: 13px;
  border: solid 1px ghostwhite;
  background-color: ghostwhite;
  border-radius: 10px;
  padding: 2px 10px 2px 10px;
  color: gray;
}
.containerItems {
  width: 370px;
  height: 600px;
  position: fixed;
  top: 50px;
  left: 20px;
  background-color: white;
  z-index: 999;
  overflow-y: scroll;
  display: none;
  border-radius: 10px
}
.bgcontainer {
  position: fixed;
  top: 0px;
  z-index: 888;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  display: none;
}
.closeItem {
  position: relative;
  left: 340px;
  top: 5px;
  width: 20px;
  border: none;
  background-color: white;
}
.cartContainer {
  width: 100%;
  height: 150px;
  border: solid 1px gainsboro;
  margin: 10px 0 10px 0;
  display: block;
  position: relative;
}
.cartContainer img {
  width: 120px;
  height: 120px;
  background-color: gray;
  margin: 15px 20px 15px 10px;
}
.cartContainer a {
  text-decoration: none;
}
.cartContainer .product_name {
  position: absolute;
  top: 15px;
  left: 140px;
  color: black;
  font-size: 17px;
}
.cartContainer #deleteItem {
  position: absolute;
  bottom: 5px;
  right: 10px;
  background-color: white;
  border: none;
  color: red;
}
.cartContainer .product_chosen_variant {
  position: absolute;
  top: 40px;
  left: 140px;
  color: black;
  font-size: 13px;
  border: solid 1px ghostwhite;
  background-color: ghostwhite;
  border-radius: 10px;
  padding: 2px 10px 2px 10px;
  color: gray;
}
.cartContainer .product_quantity {
  position: absolute;
  top: 70px;
  left: 140px;
  color: black;
  font-size: 13px;
  border: solid 1px ghostwhite;
  background-color: ghostwhite;
  border-radius: 10px;
  padding: 2px 10px 2px 10px;
  color: gray;
}
.cartContainer .product_price {
  position: absolute;
  top: 100px;
  left: 150px;
  color: black;
  font-size: 20px;
  color: orangered;
  font-weight: bold;
}
.cartContainer .product-size {
  position: absolute;
  top: 90px;
  left: 140px;
  color: black;
  font-size: 13px;
  border: solid 1px ghostwhite;
  background-color: ghostwhite;
  border-radius: 10px;
  padding: 2px 10px 2px 10px;
  color: gray;
}
.cartContainer .checkBox {
  border-radius: 50%;
  border: 2px solid black;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 13px;
  accent-color: #15f5ba;
}